.card {
  margin: auto;
  margin-top: 30px;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 10px;
  max-width: 70%;
  overflow: auto;
}
h1 {
  font-family: "Comfortaa", cursive;
  margin-top: 30px;
  text-align: center;
}
button {
  display: block;
  margin: 0;
  border-radius: 4px;
  background-color: grey;
  color: white;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
p {
  font-size: 10px;
  text-align: right;
  color: gray;
  margin-top: 15px;
  margin-bottom: auto;
}
.EnterCity {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0 20px;
}
#CurrentTemp {
  font-size: 30px;
}
.CurrentDetails {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  list-style: none;
  text-align: left;
}

.DayOfTheWk {
  color: whitesmoke;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.icon {
  color: #ffcbcb;
  font-size: 30px;
  text-align: center;
}
.Temperature {
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
}
